<div ui-view></div>
<div>
    <div class="row col-md-12">
        <h2>{{vm.name}}</h2>
    </div>
    <div ng-init="vm.initialize()">
        <div class="pull-right">
            <a class="btn btn-primary" ng-click="vm.goToCreateEmployee()" ng-show="vm.isView">Create New Employee</a>
        </div>
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>E-mail</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tr  ng-repeat="employee in vm.employees">
                <td ng-click="vm.goToUpdateEmployee(employee)">{{ employee.Firstname}}</td>
                <td ng-click="vm.goToUpdateEmployee(employee)">{{ employee.Lastname}}</td>
                <td ng-click="vm.goToUpdateEmployee(employee)">{{ employee.Email}}</td>
                <td><button class="btn btn-danger" ng-click="vm.deleteEmployee(employee.id)">x</button></td>
            </tr>
        </table>
    </div>
</div>

